force-app/main/default/flows/OMSQS_Create_Order_Summary_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Order_Summary_Action</name>
        <label>Create Order Summary Action</label>
        <locationX>692</locationX>
        <locationY>695</locationY>
        <actionName>createOrderSummary</actionName>
        <actionType>createOrderSummary</actionType>
        <faultConnector>
            <targetReference>Get_OMSQS_Order_Summary_Creation_PE</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>createOrderSummaryInput</name>
            <value>
                <elementReference>OrderSummaryInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <nameSegment>createOrderSummary</nameSegment>
        <outputParameters>
            <assignToReference>OrderSummaryOutputRepresentation</assignToReference>
            <name>createOrderSummaryOutput</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Order_Id</name>
        <label>Order Id, Order Life Cycle, and Order Business Model</label>
        <locationX>692</locationX>
        <locationY>587</locationY>
        <assignmentItems>
            <assignToReference>OrderSummaryInputRepresentation.orderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderSummaryInputRepresentation.orderLifeCycleType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Managed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderSummaryInputRepresentation.businessModel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>B2C</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Order_Summary_Action</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Order_Summary_Exist</name>
        <label>Does Order Summary Exist?</label>
        <locationX>560</locationX>
        <locationY>479</locationY>
        <defaultConnector>
            <targetReference>Order_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>orderSummaryExistYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Order_Summary</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>OMSQS: Create Order Summary Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OMSQS: Create Order Summary Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Order_Summary_Creation_Process_Exception</name>
        <label>Order Summary Creation Process Exception</label>
        <locationX>958</locationX>
        <locationY>964</locationY>
        <inputAssignments>
            <field>AttachedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>Order Activation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message</field>
            <value>
                <elementReference>Get_OMSQS_Order_Summary_Creation_PE.Message__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Order_Summary</name>
        <label>Get Existing Order Summary</label>
        <locationX>560</locationX>
        <locationY>371</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Order_Summary_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderReferenceNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderLifeCycleType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MANAGED</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesChannelId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SalesChannelId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderSummary</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OMSQS_Order_Summary_Creation_PE</name>
        <label>Get OMSQS:Order Summary Creation PE</label>
        <locationX>956</locationX>
        <locationY>803</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Order_Summary_Creation_Process_Exception</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order_Summary_Creation_Process_Exception</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order_Summary__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <sourceTemplate>runtime_commerce_oms__Create_OS</sourceTemplate>
    <start>
        <locationX>434</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Existing_Order_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesChannelId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>OrderSummaryInputRepresentation</name>
        <apexClass>ConnectApi__OrderSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderSummaryOutputRepresentation</name>
        <apexClass>ConnectApi__OrderSummaryOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
