force-app/main/default/flows/OMSQS_Update_Shipping_and_Billing_Address.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <description>Check whether the Order Delivery Group Summary is available or not.</description>
        <name>Check_ODGS_Available</name>
        <label>Check ODGS Available</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Update_Order_Summary_to_Approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Availabe</defaultConnectorLabel>
        <rules>
            <name>Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Delivery_Group_Summary</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Shipping_Address_in_Order</targetReference>
            </connector>
            <label>Available</label>
        </rules>
    </decisions>
    <description>This Flow will update the Shipping Address of Order and Shipping &amp; Billing Address of Account.</description>
    <environments>Default</environments>
    <interviewLabel>OMSQS: Update Shipping and Billing Address {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OMSQS: Update Shipping and Billing Address</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>This element will fetch the Order Delivery Group Summary related to current Order Summary.</description>
        <name>Get_Order_Delivery_Group_Summary</name>
        <label>Get Order Delivery Group Summary</label>
        <locationX>182</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_ODGS_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderSummaryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderDeliveryGroupSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order_Summary_to_Approved</name>
        <label>Update Order Summary to Approved</label>
        <locationX>182</locationX>
        <locationY>686</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderSummaryId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>OrderSummary</object>
    </recordUpdates>
    <recordUpdates>
        <description>This element will update the Shipping Address in Order from Order Delivery Group Summary.</description>
        <name>Update_Shipping_Address_in_Order</name>
        <label>Update Shipping Address in Order</label>
        <locationX>50</locationX>
        <locationY>386</locationY>
        <connector>
            <targetReference>Update_Shipping_and_Billing_Address_in_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>Get_Order_Delivery_Group_Summary.DeliverToCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>Get_Order_Delivery_Group_Summary.DeliverToCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>Get_Order_Delivery_Group_Summary.DeliverToPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>Get_Order_Delivery_Group_Summary.DeliverToState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>Get_Order_Delivery_Group_Summary.DeliverToStreet</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <description>This will update the Billing Address and Shipping Address in Account.
Billing Address will update from Order.
Shipping Address will update from Order Delivery Group Summary</description>
        <name>Update_Shipping_and_Billing_Address_in_Account</name>
        <label>Update Shipping and Billing Address in Account</label>
        <locationX>50</locationX>
        <locationY>494</locationY>
        <connector>
            <targetReference>Update_Order_Summary_to_Approved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderSummary.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.Order.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>$Record.Order.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.Order.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>$Record.Order.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>$Record.Order.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>Get_Order_Delivery_Group_Summary.DeliverToCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>Get_Order_Delivery_Group_Summary.DeliverToCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>Get_Order_Delivery_Group_Summary.DeliverToPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>Get_Order_Delivery_Group_Summary.DeliverToState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>Get_Order_Delivery_Group_Summary.DeliverToStreet</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order_Delivery_Group_Summary</targetReference>
        </connector>
        <object>OrderSummaryCreatedEvent</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
